* {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(199, 158, 88), rgb(137, 7, 42));
    padding: 10px;
}

.row{
    width: 100%;
    max-width: 540px;
    background: rgb(247, 246, 246);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.ash{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(184, 168, 168);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 26px;
}

#inputField {
    width: 300px;
    padding-left: 30px;
    /* padding-right: 30px; */
    height: 46px;
    border-width: 0;
    border:none;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    background: rgb(184, 168, 168);
    border-radius: 40px;
    justify-content: space-between;
}

button{
    border: none;
    outline: none;
    padding: 5px 50px 28px;
    background: rgb(240, 114, 36);
    color: rgb(186, 14, 14);
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    justify-content: space-between;
}

#addToDo {
    height: 50px;
    width: 50px;
    border: 1px dotted black;
    vertical-align: middle;
    font-size: 25px;
    color: rgb(249, 243, 243);
    text-align: center;
    padding-right: 55px;
}

.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}

.to-dos {
    margin-top: 25px;
}