@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  align-items: center;
  align-self: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 40px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #0c0c0c;
  padding: 35px;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 40%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 40%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

@media (max-width: 500px) {
  .slide .content {
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}



/* Backgorund Images */
 
.slide:first-child {
  background: url('https://media.cntraveler.com/photos/58de89946c3567139f9b6cca/16:9/w_1920,c_limit/GettyImages-468366251.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(2) {
  background: url('https://thumbs.dreamstime.com/b/taj-mahal-agra-india-morning-light-reflection-water-uttar-pradesh-108954918.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(3) {
  background: url('https://c0.wallpaperflare.com/preview/1006/834/346/leaning-tower-of-pisa-rome.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(4) {
  background: url('https://cdn.pixabay.com/photo/2017/06/04/16/33/pyramids-2371501_1280.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(5) {
    width: 100%;
  background: url('https://upload.wikimedia.org/wikipedia/commons/6/65/NY_Statue_of_Liberty_-_4066553303.jpg') no-repeat
    center top/cover;
} 
.slide:nth-child(6)  {
  background: url('https://cdn.britannica.com/54/122154-131-52D686FF/Great-Wall-of-China.jpg') no-repeat
    center center/cover;
}